/* IS 270 Final Project
Greg Blodgett, Ethan Bond, Joe Faith, HyeJin Moon, & David Taylor */

/*Defines the styles for every page in the website*/

@media only screen and (max-width: 767px) {
    .desktop {
      display: none;
    }
    /* Styling for flight booking box */
    .booking{
      text-align: center;
      background-image: linear-gradient(to right,rgb(178, 220, 255,0.8), rgb(232, 251, 255));
      background-color: rgb(56, 56, 56);
      max-width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      overflow-x: auto;
  }
    /* Styling for ticket_cost id paragraph */
  #ticket_cost{
    color: #000000;
  }
  /* Styling for PayPal picture */
  #PP{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    height: 30px;
    width: 50px;
    opacity: inherit;
  }
  /* Styling for body tag */
  body{
    max-width: 100%;
    background-image: url(../images/neutralBackground.jfif);
    font-family: Verdana, Geneva, sans-serif;
  }
/* Styling for html tag */
html{
    height: 100%;
  }
  /* Styling for anchor tags */
  a{
    color: #000000;
    font-size: 14px;
  }
/* Styling for why fly Buffalo Wild Wings div */
.why{
    text-align: center;
    margin: 3%;
    border-style: outset;
    box-shadow: 7px 7px grey;
    background-color: #ffffff;
  }
/* Styling for locations tag */
.locations{
    text-align: center;
    margin: 3%;
    border-style: outset;
    box-shadow: 7px 7px grey;
    background-color: #ffffff;
  }
/* Styling for booking class */
.booking{
    text-align: center;
    margin: 3%;
    border-style: outset;
    box-shadow: 7px 7px grey;
    background-color: #ffffff;
  }
/* Styling for main_image class */
.main_image{
    min-width: 100%;
    height: 10%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    overflow-x: auto;
    background-size: contain;
  }
/* Styling for main_image class image */
.main_image img{
    max-width: 100%;
    min-width: 300px;
    height: auto;
  }
/* Styling for footer tag */
footer{
    text-align: center;
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  }
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 90%;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 5%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side of the flip card */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  overflow-y: scroll;
}
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  nav li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
  }
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
main {
  padding: 5px;
}
header{
  background-color: #dddddd;
  margin-bottom: 0em;
  top: 0;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding-left: 0%;
  padding-right:0%;
  margin-left: 0%;
}
footer {
  background-color: #dddddd;
  bottom: 0;
  left: 0;
  width: 100%;
 /* position: fixed;*/
}
.bar{
  background-color:rgb(0, 153, 255);
  height: 5px;
}
.center{
  text-align: center;
}

.bg-light {
  background-color: #f8f9fa !important;
}
body, h1 {
margin-top:0;
margin-bottom: 0;
}

header h1 {
font-weight: normal;
}
nav button {
outline: none;
border: none;
background-color: inherit;
}
.full-width {
width:100%;
}


html, body {
margin: 0;
/*height: 100%;*/
}
.progressBar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.progressBar>div {
  background-color: rgb(0, 153, 255);
  width: 40%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

  /* Styling for flight booking box */
.booking{
    text-align: center;
    background-image: linear-gradient(to right,rgb(178, 220, 255,0.8), rgb(232, 251, 255));
    background-color: rgb(56, 56, 56);
  }

  /* Styling for image parallax */
.parallax {
  background-image: url(../images/airportPhoto1.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax p {
  position: absolute;
  right: 2em;
  top: 2em;
  font-size: 3em;
  z-index: inherit;
}

.progress {
  text-align: center;
width: 90%;
border: 1px solid black;
border-radius: 25px;
position: relative;
padding: 3px;
background-color: rgba(0, 0, 0, 0.658);

}

#percent1, #percent2, #percent3 {
position: absolute;
left: 50%;
color:#f8f9fa;
}

#short-term, #long-term, #economy {
height: 20px;
border-radius: 25px;
/*background-color: rgb(0, 132, 194);*/
background-image:
 -webkit-linear-gradient(-45deg,
                         transparent 33%, rgba(0, 0, 0, .1) 33%,
                         rgba(0,0, 0, .1) 66%, transparent 66%),
 -webkit-linear-gradient(top,
                         rgba(255, 255, 255, .25),
                         rgba(0, 0, 0, .25)),
 -webkit-linear-gradient(left, rgb(0, 153, 255), #f44);
}
.float-box{
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
padding:5px;
background-color: white;
}
/* Styling for flight booking box */
.booking{
  text-align: center;
  background-image: linear-gradient(to right,rgb(178, 220, 255,0.8), rgb(232, 251, 255));
  background-color: rgb(56, 56, 56);
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: auto;
}
/* Styling for ticket_cost id paragraph */
#ticket_cost{
color: #000000;
}
/* Styling for PayPal picture */
#PP{
vertical-align: middle;
margin-left: auto;
margin-right: auto;
align-content: center;
height: 30px;
width: 50px;
opacity: inherit;
}
/* Styling for body tag */
body{
max-width: 100%;
background-image: url(../images/neutralBackground.jfif);
font-family: Verdana, Geneva, sans-serif;
}
/* Styling for html tag */
html{
height: 100%;
}
/* Styling for anchor tags */
a{
color: #000000;
font-size: 14px;
}
/* Styling for why fly Buffalo Wild Wings div */
.why{
text-align: center;
margin: 3%;
border-style: outset;
box-shadow: 7px 7px grey;
background-color: #ffffff;
}
/* Styling for locations tag */
.locations{
text-align: center;
margin: 3%;
border-style: outset;
box-shadow: 7px 7px grey;
background-color: #ffffff;
}
/* Styling for booking class */
.booking{
text-align: center;
margin: 3%;
border-style: outset;
box-shadow: 7px 7px grey;
background-color: #ffffff;
font-size: 18px;
}
/* Styling for main_image class */
.main_image{
min-width: 100%;
height: 10%;
left: 0;
right: 0;
margin: 0;
padding: 0;
top: 0;
bottom: 0;
overflow-x: auto;
background-size: contain;
}
/* Styling for main_image class image */
.main_image img{
max-width: 100%;
min-width: 300px;
height: auto;
}
/* Styling for footer tag */
footer{
text-align: center;
position: static;
left: 0;
right: 0;
bottom: 0;
margin: 0;
padding: 0;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
background-color: transparent;
width: 75%;
height: 280px;
border: 1px solid #f1f1f1;
perspective: 1000px; /* Remove this if you don't want the 3D effect */
margin: 3%;
margin-left: 12%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
background-color: #bbb;
color: black;
}

/* Style the back side of the flip card */
.flip-card-back {
transform: rotateY(180deg);
overflow-y: scroll;
font-size: 18px;
}

