/*
Final Project
IS270
Greg Blodgett
David Taylor
Ethan Bond
Joe Faith
HyeJin Moon
*/

/*Defines the styles for every page in the website*/

@media only screen and (max-width: 767px) {
    .desktop {
      display: none;
    }
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  nav li a:hover {
    background-color: #555;
    color: white;
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
main {
  padding: 5px;
}
header{
  background-color: #dddddd;
  margin-bottom: 0em;
}
footer {
  background-color: #dddddd;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
.bar{
  background-color:rgb(0, 153, 255);
  height: 5px;
}
.center{ 
  text-align: center;
}

/*************************************************************************/
.progressBar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

.progressBar>div {
  background-color: rgb(0, 153, 255);
  width: 40%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

  /* Styling for flight booking box */
.booking{
    text-align: center;
    background-image: linear-gradient(to right,rgb(178, 220, 255,0.8), rgb(232, 251, 255));
    background-color: rgb(56, 56, 56);
  }