.collapsible {
	  background-color: #eee;
	  color: #444;
	  cursor: pointer;
	  padding: 18px;
	  width: 100%;
	  border: none;
	  text-align: left;
	  outline: none;
	  font-size: 15px;
	}

	/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
	  background-color: #ccc;
	}

	/* Style the collapsible content. Note: hidden by default */
.content {
	  padding: 0 18px;
	  display: none;
	  overflow: hidden;
	  background-color: #f1f1f1;
	}


.customer{
	position:relative;
	text-align:center;
	color:white;
}

.customer img{
	width:90%;
	height:30%;
}

.maintext{
	position:absolute;
	top:2%;
	margin:5%;
	padding:10%;
	font-size:1em;
}


.main{
	width:90%;
	padding:5%;
}

@media only screen and (max-width:767px)
{
.blah{
	position:relative;
	padding:5%;
	height:100%;
	width:100%;
}

.blah img{
	width:90%;
	height:100%;
	opacity:0.8;
}
.text{
	position:absolute;
	padding:5%;
	background-color:rgba(80,80,80,.7);
	width:65%;
	top:10%;
	font-size:0.3em;
	height:60%;
}

.text a {
	color: #cce6ff;
	font-size:0.3em;
}
}

@media only screen and (min-width:768px)
{
.blah{
	position:relative;
	padding:5%;
	height:60%;
	width:100%;
}

.blah img{
	width:90%;
	height:20%;

	opacity:0.8;
}
.text{
	padding:5%;
	background-color:rgba(80,80,80,.7);
	width:60%;
	top:20%;
	font-size:0.6em;
}

.text a {
	color: #cce6ff;
}
}