@media only screen and (min-width: 360px) and (max-width:680px){

.about {
	width:100%;
	height:10%;
}
.about img{
	width:95%;
	height:10%;
	margin:2.5%;
}

.text{
	position:absolute;
	top:25%;
	left:10%;
	color:#FFFFFF;
}


.text h2{
	font-size:2em;

}
.text p{
	font-size: 1.5em;

}

.main{
	width:80%;
	height:10%;
	padding:2.5%;
}

.main h2{
	font-size:2.5em;

}

.main p{
	font-size:1em;

}



.vision{
	width:95%;
	height:95%;
	background-color:#e6f2ff;
	padding:3%;
	margin:2%;
	

}

.vision img{
	width:100%;
	height:70%;
	text-align:center;
	padding:1em;
}

.mission{
	width:95%;
	height:95%;
	background-color:#e6f2ff;
	padding:3%;
	margin:2%;


}
.mission img{
	width:100%;
	height:70%;
	text-align:center;
	padding:1em;
}




}






@media only screen and (min-width:760px) and (max-width:2560px){
	
.about {
	width:100%;
	height:10%;
}
.about img{
	width:95%;
	height:10%;
	margin:2.5%;
}

.text{
	position:absolute;
	top:30%;
	left:10%;
	color:#FFFFFF;
}

.main{
	width:80%;
	height:10%;
	padding:5%;
}

.text h2{
	font-size:3em;

}
.text p{
	font-size: 2em;

}

.boxes{
	width:90%;
	height:auto;
	text-align:center;
	background-color:#FFFFFF;
	padding:5%;
	bottom:50%;
}

.vision{
	width:40%;
	float:left;
	height:18em;
	background-color:#e6f2ff;
	padding:2.5%;
	margin:1em;
}

.vision img{
	width:50%;
	height:40%;
}
.mission{
	width:40%;
	float:right;
	height:18em;
	background-color:#e6f2ff;
	padding:2.5%;
	margin:1em;
}
.mission img{
	width:50%;
	height:40%;
}
}